a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #ffffff;
}

h1,h2 {
    font-weight: 700;
}

h2 {
    color: #2E2F42;
    text-align: center;
    /* Header 2 */
    /* font-family: Roboto; */
    font-size: 36px;
    /* font-style: normal; */
    /* font-weight: 700; */
    line-height: calc(40/36); /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    /* line-height: 40px; /* 111.111% */
    /* letter-spacing: 0.72px; */
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height:  calc(24/20); /* 120% */
    letter-spacing: 0.02em;
    /* line-height:  24px; /* 120% */
    /* letter-spacing: 0.4px; */
 
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    /* line-height: 21px; 116.667% */
    line-height: calc(21/18);
    letter-spacing: 0.03em;
    /* letter-spacing: 0.54px; */
    text-transform: uppercase;
}

.header .logo-span {
    color: #2E2F42;
}

.list-links .item-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: calc(24/16);
    /* line-height: 24px; 150% */
    letter-spacing: 0.01em;
   /* letter-spacing: 0.32px; */
}

.list-contact .item-link {
    color:  #434455;
    /* font-family: Roboto;
    font-size: 16px;
    font-style: normal; */
    font-weight: 400;
    line-height: calc(24/16);
    letter-spacing: 0.01em;
    /* line-height: 24px; /* 150% */
    /*letter-spacing: 0.32px; */
}

.hero {
    background-color: #2E2F42;
}

h1 {
    color:  #FFF;
    text-align: center;
    /* font-family: Roboto; */
    font-size: 56px;
    /* font-style: normal; */
    /* font-weight: 700; */
    line-height: calc(60/56); /* 107.143% */
    letter-spacing: 0.02em;
    /*line-height: 60px; /* 107.143% */
    /* letter-spacing: 1.12px; */
}

.hero-button {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(24/16); /* 150% */
    letter-spacing: 0.04em;
    /* line-height: 24px; /* 150% */
    /*letter-spacing: 0.64px; */
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 169px;
    height: 56px;
    cursor: pointer;
}


.feature-list .item-text {
    line-height: calc(24/16); /* 150% */
    letter-spacing: 0.02em;
    /* line-height: 24px; /* 150% */
    /* letter-spacing: 0.32px; */
}

.team {
    background-color:#F4F4FD;
}

.team h3 {
    text-align: center;
}

.team-list .item-text,
.portfolio-list .item-text,
.footer .text {
    line-height: calc(24/16);/* 150% */
    letter-spacing: 0.02em;
    /* line-height: 24px;/* 150% */
   /* letter-spacing: 0.32px; */
}

.team-list .item-text {
    text-align: center;
}

.footer {
    background-color: #2E2F42;
}
.footer .logo-span,
.footer .text  {
    color: #F4F4FD;
}

.logo:hover,
.logo:hover .logo-span,
.logo:focus,
.logo:focus .logo-span,
.item-link:hover,
.item-link:focus
  {
    color:white;
    background-color:#4D5AE5 ;
    
}

.hero-button:hover {
    background-color:#404BBF;
}

